.footerContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px 80px;
    z-index: 2;
}
.footerContainerRrss{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footerContainer h6{
    font-size: 22px;
    font-weight: 400;
}
.footerContainer h4{
    font-size: 24px;
    font-weight: 600;
    margin-right: 40px;
}
.footerContainerRrss img{
    margin: 0px 20px;
    width: 45px;
}
@media (max-width: 768px){
    .footerContainer h6{
        font-size: 16px;
    }
    .footerContainer h4{
        font-size: 20px;
        margin-right: 10px;
    }
    .footerContainerRrss img{
        margin: 0px 10px;
        width: 32px;
    }
    .footerContainer{
        padding: 20px 20px;
    }
}
@media (max-width: 420px){
    .footerContainer h4{
        font-size: 16px;
        margin-right: 0px;
        text-align: end;
        width: 160px;
    }
    .footerContainer{
        padding: 20px 20px;
    }
}