.footerContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px 80px;
    z-index: 2;
}
.footerContainerRrss{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footerContainer h6{
    font-size: 22px;
    font-weight: 400;
}
.footerContainer h4{
    font-size: 24px;
    font-weight: 600;
    margin-right: 40px;
}
.footerContainerRrss img{
    margin: 0px 20px;
    width: 45px;
}