.RegisterContainer{
    height: 100%;
    margin: 8%;
}
.RegisterContainerForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 100%;

}
.RegisterContainerFormInputContainer{
    display: flex;
    flex-direction: column;

}
.RegisterContainerFormInputContainer p{
    color: red;

}
.RegisterContainerFormInput{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 720px;
    margin: 10px;
}
.RegisterContainerFormInput img{
    border-bottom: 1px solid #878787;
    padding-bottom: 2px;
    height: 30px;
}
.RegisterContainerFormInput input{
    height: 30px;
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-left: 20px;
}
.RegisterContainerFormInput input:focus{
    outline: none;
}
.RegisterContainerFormButtons{
    display: flex;
    flex-direction: column;
}
.ButtonLigth{
    font-size: 16px;
    border: 2px solid #1c252F;
    border-radius: 8px;
    width: 220px;
    background: none;
    height: 46px;
    margin: 0px 5px;
    margin: 10px;
}
.checkboxInput{
    appearance: none;
    border-radius: 100%;
    border: 1px solid #878787;
    width: 20px;
    height: 20px;
}
.checkboxInput:checked {
    background-color: #1c252F;
  }
.RegisterContainerFormCheckbox{
    display: flex;
    flex-direction: column;
    align-items: start;
    align-content: center;
    width: 720px;
    margin-top: 10px;
}
.RegisterFormCheckbox{
    display: flex;
    align-content: center;
}
.RegisterContainerFormCheckbox p{
    color: red;
    margin-top: 10px;
}
.RegisterContainerFormCheckbox label{
    color: #2B2E78;
    margin-left: 10px;
}
@media (max-width: 768px){
    .RegisterContainerFormInput{
        width: 520px;
    }
    .RegisterContainerFormCheckbox{
        width: 520px;
    }
}
@media (max-width: 420px){
    .RegisterContainerFormInput{
        width: 300px;
    }
    .RegisterContainerFormCheckbox{
        width: 300px;
    }
    .ButtonLigth{
        width: 160px;
        height: 36px;
    }
}