.NavbarContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 20px;
}


.NavbarContainerSearch{
    display: flex;
    flex-direction: row;
    
}
.NavbarButtons{
    display: block;
    z-index: 2;
}
.ButtonLigth{
    font-size: 16px;
    border: 2px solid #1c252F;
    border-radius: 8px;
    width: 160px;
    background: none;
    height: 32px;
    margin: 0px 5px;

}
.ButtonDark{
    font-size: 16px;
    border: 2px solid #1c252F;
    border-radius: 8px;
    width: 160px;
    background-color: #1c252F;
    color: #fff;
    height: 32px;
    margin: 0px 5px;

}
.NavbarMenu{
    height: 100%;
}

.NavbarDropdown {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    display: none;
    text-align: end;
    font-size: 24px;
}

.NavbarDropdown.Visible {
    display: flex;
    flex-direction: column;
    position: absolute;
    right:  40px;
    padding: 20px;
    background-color: #fff;
    height: 100%;
    width: 440px;
    right: 0;
    top: 0;
    z-index: 1;
}

.NavbarDropdown li {
    position: relative;
    top: 60px;
    margin-bottom: 20px;
}

.NavbarDropdown li:hover ul {
    display: block;
}

.NavbarMenuIcon1{
    margin-left: 10px;
    margin-bottom: 8px;
    width: 40px;
    height: 5px;
    background-color:#1c252F ;
    transition: 0.2s;
    z-index: 2;
}
.NavbarMenuIcon1.Animation {
    transform: rotateZ(45deg);
    top: 16px;
    position: relative;
}

.NavbarMenuIcon2{
    margin-left: 10px;
    margin-bottom: 8px;
    width: 40px;
    height: 5px;
    background-color:#1c252F ;
    z-index: 2;
    
}
.NavbarMenuIcon2.Animation {
    display: none;
}
.NavbarMenuIcon3{
    margin-left: 10px;
    margin-bottom: 8px;
    width: 40px;
    height: 5px;
    background-color:#1c252F ;
    transition: 0.2s;
    z-index: 2;
    
}
.NavbarMenuIcon3.Animation {
    top: 4px;
    position: relative;
    transform: rotateZ(-45deg)
}