
.homeContainer{
content: "";
 position: absolute;
 z-index: 0;
 width: 100%;
 height: 100%;
 background-image: url(../../assets/playa-fondo.jpeg);
 background-size: 100%;
 background-repeat: no-repeat;

}

